# Lines beginning with a '#' are comments
# Text Editor Temp Files
*~
*.swp
*.orig

# Mac Filesystem
.DS_Store?

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Results of the pre-CMake build system
config.mk
lib
tmp
tmp_ext
